Repository nakrovati/compare-sizes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*.{html,json,md,yml,yaml}": "prettier --write",
  "*.scss": "stylelint --fix",
  "*.vue": ["eslint --fix", "stylelint --fix"],
  "*.{js,cjs,ts}": ["eslint --fix"]
}

fix: test:watch runs vitest without watch mode
  package.json
Due: prettier --write

style: format ignore files
  .eslintignore
  .gitignore
  .husky/pre-commit
  .prettierignore
  .stylelintignore
Due: none

style: format package.json
  package.json
Due: prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

deploy: fc073f5b8f8ad97f339f97883808a6add5be8271
  assets/index.0de28dd0.js
  assets/index.22a38681.js
  assets/vendor.@vueuse.d66d90b7.js
  assets/vendor.pinia.c5b8e739.js
  assets/vendor.three.6764d09c.js
  assets/vendor.three.e1fde3a2.js
  index.html
Due: prettier --write, eslint --fix

Revert "style: format ignore files"
  .eslintignore
  .gitignore
  .husky/pre-commit
  .prettierignore
  .stylelintignore
Due: none

refactor: turn delete icon into vue component
  src/assets/icons/IconDelete.vue
  src/assets/icons/xmark-solid.svg
  src/components/ItemsList/ItemsListItem.vue
Due: stylelint --fix, eslint --fix

fix: pre-commit hook is ignored
  .husky/pre-commit
Due: none

style: update styles
  src/assets/styles/_colors.scss
  src/assets/styles/_shadows.scss
  src/components/ItemsList/ItemsListItem.vue
  src/components/Menu/TheMenu.vue
  src/components/base/BaseSelect.vue
Due: stylelint --fix, eslint --fix

refactor: modal component
  src/components/Menu/TheMenu.vue
  src/components/TheModal.vue
Due: stylelint --fix, eslint --fix

deploy: c331340d0cd806f4d7ac4466e30385a82c6bbc71
  assets/Quicksand-VariableFont_wght-475c2992.woff2
  assets/index-251aaa18.js
  assets/index-a2cfc715.css
  assets/index.22a38681.js
  assets/index.afe9d710.css
  assets/vendor.@vueuse-5b5762c1.js
  assets/vendor.@vueuse.d66d90b7.js
  assets/vendor.pinia-9fce735d.js
  assets/vendor.pinia.c5b8e739.js
  assets/vendor.three-68383a88.js
  assets/vendor.vue-05ca22f6.js
  assets/vendor.vue.6b04a60b.js
  assets/xmark-solid.67154278.svg
  index.html
Due: prettier --write, eslint --fix

fix: text colors
  src/assets/styles/_base.scss
  src/components/Menu/TheMenu.vue
  src/components/base/BaseSelect.vue
Due: stylelint --fix, eslint --fix

chore: remove unused code
  src/App.vue
  src/components/layout/TheLayout.vue
  src/shims-svg.d.ts
  src/vite-env.d.ts
Due: stylelint --fix, eslint --fix

refactor: make input a separate component
  src/components/Menu/TheMenu.vue
  src/components/base/BaseInput.vue
Due: stylelint --fix, eslint --fix

chore: remove unused code
  src/components/ItemsList/ItemsListItem.vue
Due: stylelint --fix, eslint --fix

fix: path to IconDelete
  src/components/ItemsList/ItemsListItem.vue
Due: stylelint --fix, eslint --fix

deploy: 74fb327b4f708da32d6e7c01e9d62e81b6b00371
  assets/index-1dfdff52.css
  assets/index-251aaa18.js
  assets/index-4abb43c4.js
  assets/index-a2cfc715.css
  assets/vendor.@vueuse-5b5762c1.js
  assets/vendor.@vueuse-f48aff9e.js
  assets/vendor.pinia-05094e5f.js
  assets/vendor.pinia-9fce735d.js
  assets/vendor.vue-05ca22f6.js
  assets/vendor.vue-651376cf.js
  index.html
Due: prettier --write, eslint --fix

ci: simplify deploy.yaml
  .github/workflows/deploy.yml
Due: prettier --write

ci: update actions/upload-artifact to v3
  .github/workflows/deploy.yml
Due: prettier --write

fix: BaseInput clearing
  src/components/Menu/TheMenu.vue
  src/components/base/BaseInput.vue
Due: stylelint --fix, eslint --fix

refactor: change components class names
  src/components/base/BaseButton.vue
  src/components/base/BaseSelect.vue
Due: stylelint --fix, eslint --fix

chore: remove the width stretch function from BaseButtons
  src/components/base/BaseButton.vue
Due: stylelint --fix, eslint --fix

chore: remove unused code
  src/components/Menu/TheMenu.vue
Due: stylelint --fix, eslint --fix

chore: remove screen height fixing
  src/App.vue
Due: stylelint --fix, eslint --fix

deploy: 50ee541c97ef7f41f8edac03ea551897bfecf06b
  assets/index-1dfdff52.css
  assets/index-315d2ba9.js
  assets/index-4abb43c4.js
  assets/index-c112b9e7.css
  assets/vendor.@vueuse-b2b47fb4.js
  assets/vendor.@vueuse-f48aff9e.js
  assets/vendor.pinia-05094e5f.js
  assets/vendor.pinia-57773644.js
  assets/vendor.three-500559b7.js
  assets/vendor.vue-651376cf.js
  assets/vendor.vue-692fa963.js
  index.html
Due: prettier --write, eslint --fix

chore: add an animation for the appearance of the item list
  src/components/ItemsList/ItemsList.vue
Due: stylelint --fix, eslint --fix

deploy: 0013d85adbab28508efaba0fc8bf56f7c48f32b6
  assets/index-315d2ba9.js
  assets/index-3c26381a.js
  assets/index-c112b9e7.css
  assets/index-fcc247da.css
  assets/vendor.@vueuse-b2b47fb4.js
  assets/vendor.@vueuse-f40668d7.js
  assets/vendor.pinia-828ba1bb.js
  assets/vendor.vue-692fa963.js
  assets/vendor.vue-d7dd0b85.js
  index.html
Due: prettier --write, eslint --fix

ci: remove strategy.matrix.node-version
  .github/workflows/deploy.yml
Due: prettier --write

fix: adaptability
  src/App.vue
  src/components/ItemsList/ItemsList.vue
  src/components/TheCanvas.vue
Due: stylelint --fix, eslint --fix

refactor: TheCanvas.vue
  src/components/TheCanvas.vue
Due: stylelint --fix, eslint --fix

refactor: utils functions
  src/components/Menu/TheMenu.vue
  src/stores/items.test.ts
  src/stores/items.ts
  src/utils/convertToMM.test.ts
  src/utils/convertToMM.ts
  src/utils/index.ts
  src/utils/validateItemParams.test.ts
  src/utils/validateItemParams.ts
Due: stylelint --fix, eslint --fix

deploy: 0ba024aa3a1088360cb74bbb37127801020d007c
  assets/index-3c26381a.js
  assets/index-58cfd909.js
  assets/index-7ea90e3b.css
  assets/index-fcc247da.css
  index.html
Due: prettier --write, eslint --fix

fix: desynchronisation of localStorage and the list of items
  src/components/ItemsList/ItemsList.vue
Due: stylelint --fix, eslint --fix

chore: ignore husky loading in nodejs prepare hook
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

refactor: styles folder structure
  src/assets/styles/generic/_normalize.scss
  src/assets/styles/main.scss
  src/assets/styles/settings/_global.scss
  src/assets/styles/style.scss
  src/assets/styles/tokens/_colors.scss
  src/assets/styles/tokens/_fonts.scss
  src/assets/styles/tokens/_shadows.scss
  src/main.ts
  vite.config.ts
Due: stylelint --fix, eslint --fix

refactor: add @ to tsconfig paths
  src/App.vue
  src/assets/styles/tokens/_fonts.scss
  src/components/ItemsList/ItemsList.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/Menu/TheMenu.vue
  src/components/TheCanvas.vue
  src/components/TheModal.vue
  src/components/base/BaseSelect.vue
  src/main.ts
  src/stores/canvas.ts
  src/stores/items.test.ts
  src/stores/items.ts
  src/utils/colorRandomizer.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

deploy: 2452bbaf9d6d4671ad5a9eac3e82f11417e23f6f
  assets/index-58cfd909.js
  assets/index-6853f379.css
  assets/index-6964a689.js
  assets/index-7ea90e3b.css
  assets/vendor.@vueuse-35582ab6.js
  assets/vendor.@vueuse-f40668d7.js
  assets/vendor.pinia-a3daaec1.js
  assets/vendor.three-500559b7.js
  assets/vendor.three-e8d3e279.js
  index.html
Due: prettier --write, eslint --fix
