Repository nakrovati/compare-sizes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*.{html,json,md,yml,yaml}": "prettier --write",
  "*.scss": "stylelint --fix",
  "*.vue": ["eslint --fix", "stylelint --fix"],
  "*.{js,cjs,ts}": ["eslint --fix"]
}

refactor: createItem action
  src/stores/items.ts
Due: eslint --fix

refactor: tests
  src/stores/items.test.ts
  src/utils/convertToMM.test.ts
  src/utils/validateItemParams.test.ts
Due: eslint --fix

feat: two items close to each other will have different colors
  src/components/Menu/TheMenu.vue
  src/stores/items.ts
Due: stylelint --fix, eslint --fix

deploy: 0d838a1007882d43666e7e60f03ca19115166da5
  assets/index-39944535.css
  assets/index-6853f379.css
  assets/index-6964a689.js
  assets/index-ff52eb81.js
  index.html
Due: prettier --write, eslint --fix

refactor: rename validateItemParams -> parseItemParams
  .lintstagedrc.json
  src/components/Menu/TheMenu.vue
  src/utils/index.ts
  src/utils/parseItemParams.test.ts
  src/utils/parseItemParams.ts
Due: prettier --write, stylelint --fix, eslint --fix

deploy: caf42c2515c34b89458627548cfdb4817334c93c
  assets/index-39944535.css
  assets/index-62a11164.css
  assets/index-b0975295.js
  assets/index-ff52eb81.js
  index.html
Due: prettier --write, eslint --fix

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add pnpm caching to deploy.yaml
  .github/workflows/deploy.yml
Due: prettier --write

deploy: c527d7bf15525c56946b848f5bf42077f7fdd660
  assets/index-5e77808d.js
  assets/index-b0975295.js
  assets/vendor.@vueuse-35582ab6.js
  assets/vendor.@vueuse-54e3c923.js
  assets/vendor.pinia-97e8c813.js
  assets/vendor.pinia-a3daaec1.js
  assets/vendor.three-1c6f7f98.js
  assets/vendor.three-e8d3e279.js
  assets/vendor.vue-89c2ab29.js
  assets/vendor.vue-d7dd0b85.js
  index.html
Due: prettier --write, eslint --fix

chore: change the order of the typescript rules
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

chore: beautify .ignore files
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

chore: replace normalize css config with a modern-normalize
  src/assets/styles/generic/_normalize.scss
Due: stylelint --fix

chore: remove the ignoring of ide files from prettier
  .prettierignore
Due: none

chore: remove duplicate stylelint rules
  .stylelintrc.json
Due: prettier --write

fix: stylelint in the 'style' script did not work
  package.json
Due: prettier --write

deploy: 42c50dfc31293ec1b96ad4b567c0070b2567ccc2
  assets/index-62a11164.css
  assets/index-b5f584dd.js
  assets/index-edaf492f.css
  index.html
Due: prettier --write, eslint --fix

chore: remove unused file _base.scss
  src/assets/styles/_base.scss
Due: stylelint --fix

chore: remove deplucated css rules
  src/assets/styles/settings/_global.scss
Due: stylelint --fix

deploy: c715656355736ea1eeaa47c7a57415e6750b62d9
  assets/index-97383f19.js
  assets/index-edaf492f.css
  assets/index-ff3865e6.css
  index.html
Due: prettier --write, eslint --fix

chore: move fonts to public folder
  public/fonts/quicksand/Quicksand-VariableFont_wght.woff2
  src/assets/fonts/quicksand/index.scss
  src/assets/styles/tokens/_fonts.scss
Due: stylelint --fix

deploy: 0ef679bea8eb3d66bc213874c0e0a460aafc3cfb
  assets/index-4d7c69c8.css
  assets/index-ba206aa5.js
  assets/index-ff3865e6.css
  fonts/quicksand/Quicksand-VariableFont_wght.woff2
  index.html
Due: prettier --write, eslint --fix

chore: install stylelint-config-recess-order
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: lint styles only in the src folder
  package.json
Due: prettier --write

style: reorder
  src/App.vue
  src/assets/styles/generic/_normalize.scss
  src/assets/styles/settings/_global.scss
  src/assets/styles/tokens/_fonts.scss
  src/components/ItemsList/ItemsListItem.vue
  src/components/Menu/TheMenu.vue
  src/components/TheCanvas.vue
  src/components/TheModal.vue
  src/components/base/BaseButton.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseSelect.vue
Due: stylelint --fix, eslint --fix

deploy: db4de8cf13454604a6c48cbe46f92c9842c2cd69
  assets/index-4d7c69c8.css
  assets/index-9a8f637f.css
  assets/index-a0dad0b0.js
  assets/index-ba206aa5.js
  index.html
Due: prettier --write, eslint --fix

fix: color variables
  src/assets/styles/main.scss
  src/assets/styles/settings/_global.scss
  src/assets/styles/tokens/_colors.scss
Due: stylelint --fix

refactor: modal
  src/components/Menu/TheMenu.vue
  src/components/TheModal.vue
Due: stylelint --fix, eslint --fix

chore: remove console.log()
  src/stores/items.ts
Due: eslint --fix

fix: preload font
  index.html
Due: prettier --write

style: change the cursor for the input to 'text'
  src/assets/styles/settings/_global.scss
Due: stylelint --fix

ci: format
  .github/workflows/deploy.yml
Due: prettier --write

deploy: 330af5e821d2d649aaaee17d021d34ea94e0c398
  assets/index-08185fa2.css
  assets/index-40d2d707.js
  assets/index-9a8f637f.css
  assets/index-a0dad0b0.js
  assets/vendor.@vueuse-54e3c923.js
  assets/vendor.@vueuse-93fa17c3.js
  assets/vendor.pinia-578ef07b.js
  assets/vendor.vue-89c2ab29.js
  assets/vendor.vue-c87ed937.js
  index.html
Due: prettier --write, eslint --fix

fix: colors
  src/assets/colors.json
  src/components/TheModal.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseSelect.vue
Due: prettier --write, stylelint --fix, eslint --fix

refactor: dark theme detector
  src/App.vue
  src/composables/useDark.ts
  src/composables/usePreferredDark.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

deploy: 16650597da6def7725ab054584b4311489a8fefd
  assets/index-08185fa2.css
  assets/index-1a1aa445.css
  assets/index-40d2d707.js
  assets/index-f1e26e05.js
  assets/vendor.@vueuse-0129d314.js
  assets/vendor.@vueuse-93fa17c3.js
  assets/vendor.pinia-578ef07b.js
  assets/vendor.pinia-75a0af78.js
  assets/vendor.three-1c6f7f98.js
  assets/vendor.three-f427f997.js
  index.html
Due: prettier --write, eslint --fix

refactor: reorder calls in usePreferredDark
  src/composables/usePreferredDark.ts
Due: eslint --fix

refactor: types
  src/components/Menu/TheMenu.vue
  src/stores/items.ts
  src/utils/convertToMM.ts
Due: stylelint --fix, eslint --fix

deploy: f91e067d408e3a23a9363ef78f47107f3f45d7ef
  assets/index-18040603.css
  assets/index-1a1aa445.css
  assets/index-f1e26e05.js
  assets/index-fc7a78ba.js
  index.html
Due: prettier --write, eslint --fix
