Repository nakrovati/compare-sizes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*.{html,json,md,yml,yaml}": "prettier --write",
  "*.scss": "stylelint --fix",
  "*.vue": ["eslint --fix", "stylelint --fix"],
  "*.{(c)js,ts}": ["eslint --fix"]
}

chore: bump deps
  .eslintrc.json
  .github/workflows/deploy.yml
  .postcssrc.cjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/stores/canvas.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: remove click()
  src/components/base/BaseButton.vue
Due: stylelint --fix, eslint --fix

refactor: reduce style overrides
  src/App.vue
Due: stylelint --fix, eslint --fix

deploy: 67e62d7a2c35eeb1fa92d5c47e502a7078c92641
  assets/index-18040603.css
  assets/index-7f21c55f.js
  assets/index-a22cb2a9.css
  assets/index-fc7a78ba.js
  assets/vendor.@vueuse-0129d314.js
  assets/vendor.@vueuse-99bd88ba.js
  assets/vendor.pinia-75a0af78.js
  assets/vendor.three-7714326d.js
  assets/vendor.three-f427f997.js
  assets/vendor.vue-0f33053c.js
  assets/vendor.vue-c87ed937.js
  index.html
Due: prettier --write

chore: move postcss-load-config to devDeps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: change BaseInput defineProps declaration
  src/components/base/BaseInput.vue
Due: stylelint --fix, eslint --fix

refactor: BaseInput 2 way binding
  src/components/Menu/TheMenu.vue
  src/components/base/BaseInput.vue
Due: stylelint --fix, eslint --fix

refactor: remove IDimensions
  src/components/Menu/TheMenu.vue
Due: stylelint --fix, eslint --fix

docs: update README
  README.md
Due: prettier --write

chore: correct the numerals foot & feet
  src/components/Menu/TheMenu.vue
  src/utils/convertToMM.test.ts
Due: stylelint --fix, eslint --fix

ci: move site from gh-pages to vercel
  .github/workflows/deploy.yml
  vite.config.ts
Due: prettier --write, eslint --fix

docs: update links to website
  README.md
Due: prettier --write

chore: chunk pinia into a separate file
  vite.config.ts
Due: eslint --fix

chore: optimize eslint config
  .eslintrc.json
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: run format
  src/App.vue
  src/components/ItemsList/ItemsList.vue
  src/components/Menu/TheMenu.vue
  src/components/TheCanvas.vue
  src/components/TheModal.vue
  src/components/base/BaseButton.vue
Due: stylelint --fix, eslint --fix

chore: rename postcss config file
  postcss.config.cjs
Due: none

refactor: directory structure
  src/App.vue
  src/components/Canvas/TheCanvas.vue
  src/components/ItemsList/TheItemsList.vue
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseModal.vue
Due: stylelint --fix, eslint --fix

refactor: lower <template> section under <script>
  src/App.vue
  src/components/Canvas/TheCanvas.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/ItemsList/TheItemsList.vue
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseButton.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseModal.vue
  src/components/base/BaseSelect.vue
Due: stylelint --fix, eslint --fix

chore: add meta description and keywords
  index.html
Due: prettier --write

refactor: components
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseButton.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseModal.vue
  src/components/base/BaseSelect.vue
Due: stylelint --fix, eslint --fix

refactor: replace .eslintrc with eslint.config.js
  .eslintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: migrate eslint to the eslint.config.js
  .eslintignore
  eslint.config.js
  package.json
Due: prettier --write

chore: add eslint-plugin-perfectionist
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: run eslint --fix
  src/App.vue
  src/components/Canvas/TheCanvas.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/ItemsList/TheItemsList.vue
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseModal.vue
  src/components/base/BaseSelect.vue
  src/composables/useDark.ts
  src/main.ts
  src/stores/canvas.ts
  src/stores/items.test.ts
  src/stores/items.ts
  src/types/index.d.ts
  src/utils/colorRandomizer.test.ts
  src/utils/colorRandomizer.ts
  src/utils/convertToMM.test.ts
  src/utils/convertToMM.ts
  src/utils/index.ts
  src/utils/parseItemParams.test.ts
  src/utils/parseItemParams.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: delay when clicking on input
  src/assets/styles/settings/_global.scss
  src/components/base/BaseInput.vue
Due: stylelint --fix, eslint --fix

refactor: [usePrefferedDark]
  src/composables/usePreferredDark.ts
Due: eslint --fix

refactor: add some types
  src/components/ItemsList/ItemsListItem.vue
  src/utils/parseItemParams.ts
Due: stylelint --fix, eslint --fix

feat: replace pnpm with bun
  .husky/pre-commit
  bun.lockb
  pnpm-lock.yaml
Due: prettier --write

chore: bump deps
  bun.lockb
  package.json
Due: prettier --write

refactor: migrate from scss to css
  .lintstagedrc.json
  .prettierignore
  .stylelintrc.json
  bun.lockb
  package.json
  src/App.vue
  src/assets/styles/generic/normalize.css
  src/assets/styles/main.scss
  src/assets/styles/settings/global.css
  src/assets/styles/tokens/colors.css
  src/assets/styles/tokens/fonts.css
  src/assets/styles/tokens/shadows.css
  src/components/Canvas/TheCanvas.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/ItemsList/TheItemsList.vue
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseButton.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseModal.vue
  src/components/base/BaseSelect.vue
  src/main.ts
Due: prettier --write, stylelint --fix, eslint --fix

chore: remove eslint-plugin-perfectionist
  bun.lockb
  eslint.config.js
  package.json
Due: prettier --write

fix: errors
  .stylelintrc.json
  src/assets/icons/IconDelete.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/ItemsList/TheItemsList.vue
  src/components/base/BaseInput.vue
  src/main.ts
Due: prettier --write, stylelint --fix, eslint --fix

chore: remove some files from ignore
  .prettierignore
  .stylelintignore
Due: none

refactor: use defineModel for inputs
  src/components/base/BaseInput.vue
Due: stylelint --fix, eslint --fix

refactor: add registration of pressing enter when creating a new item
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseButton.vue
Due: stylelint --fix, eslint --fix

refactor: use nanoid to generate td's for inputs
  bun.lockb
  package.json
  src/components/base/BaseInput.vue
Due: prettier --write, stylelint --fix, eslint --fix

refactor: use reactive for item menu form state
  src/components/ItemsMenu/TheItemsMenu.vue
Due: stylelint --fix, eslint --fix
