Repository nakrovati/compare-sizes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

chore: bump deps
  .husky/pre-commit
  .stylelintrc.json
  bun.lockb
  eslint.config.js
  package.json
  src/main.ts
  stylelint.config.js
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, eslint --fix

docs: replace pnpm with bun in readme.md
  README.md
Due: prettier --write

refactor: ui and tests
  src/App.vue
  src/assets/styles/settings/global.css
  src/components/Canvas/TheCanvas.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/ItemsList/TheItemsList.vue
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseButton.vue
  src/components/base/BaseInput.vue
  src/components/base/BaseModal.vue
  src/components/base/BaseSelect.vue
  src/stores/items.test.ts
  src/stores/items.ts
  src/types/index.d.ts
  src/utils/convertLengthUnits.test.ts
  src/utils/convertLengthUnits.ts
  src/utils/index.ts
Due: prettier --write, stylelint --fix, eslint --fix

style: format code
  index.html
  src/assets/styles/generic/normalize.css
  src/assets/styles/tokens/fonts.css
  src/composables/usePreferredDark.ts
Due: prettier --write, stylelint --fix, eslint --fix

chore: add eslint-plugin-perfectionist
  bun.lockb
  eslint.config.js
  package.json
  src/components/ItemsMenu/TheItemsMenu.vue
  src/components/base/BaseInput.vue
  src/main.ts
  src/stores/items.test.ts
  src/types/index.d.ts
  stylelint.config.js
Due: prettier --write, stylelint --fix, eslint --fix

refactor: components and stores
  src/App.vue
  src/components/ItemsList/ItemsList.vue
  src/components/ItemsList/ItemsListItem.vue
  src/components/ItemsMenu/ItemsMenu.vue
  src/stores/canvas.ts
  src/stores/items.ts
  src/utils/convertLengthUnits.ts
Due: prettier --write, stylelint --fix, eslint --fix

chore: move tests in `tests` dir
  tests/stores/items.test.ts
  tests/utils/colorRandomizer.test.ts
  tests/utils/convertLengthUnits.test.ts
  tests/utils/parseItemParams.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: remove vue,pinia and vueuse from the bandle split into chunks
  vite.config.ts
Due: prettier --write, eslint --fix

chore: add eslint unicorn
  bun.lockb
  eslint.config.js
  package.json
  src/components/ItemsList/ItemsList.vue
  src/stores/canvas.ts
  src/stores/items.ts
  src/utils/convertLengthUnits.ts
  src/utils/index.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: stores and components
  bun.lockb
  package.json
  src/components/ItemsList/ItemsListItem.vue
  src/helpers/itemPositionCalculator.ts
  src/reset.d.ts
  src/stores/canvas.ts
  src/stores/items.ts
  tests/utils/colorRandomizer.test.ts
Due: prettier --write, stylelint --fix, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{html,json,md,yml,yaml}) or (any of: *.vue)) or (any of: *.{(c)js,ts})
  stylelint --fix: (any of: *.css) or (any of: *.vue)
  eslint --fix: (any of: *.vue) or (any of: *.{(c)js,ts})
